@import "tailwindcss";

:root {
  --background: #f5f5f5; /* light gray */
  --foreground: #333333; /* dark gray */

  --calm-1: #f5f5f5;
  --calm-2: #e0e0e0;
  --calm-3: #bdbdbd;
  --calm-4: #757575;
  --calm-5: #333333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color1: var(--calm-1);
  --color2: var(--calm-2);
  --color3: var(--calm-3);
  --color4: var(--calm-4);
  --color5: var(--calm-5);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
